{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Admin</h1>
<div class="col-lg-9">
<table class="table mt-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for user in user_lst %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form action="{{ url_for('delete_user') }}" method="post">
                    {{ form.csrf_token() }}
                    {{ form.choice(value=user.id) }}
                    <button class="btn" type="submit">
                        <i class="bi bi-trash"> Delete</i>
                    </button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('toggle_user_role') }}" method="post">
                    {{ form.csrf_token() }}
                    {{ form.choice(value=user.id) }}
                    <button class="btn" type="submit">
                        {% if user.role == "Admin" %}
                        <i class="bi bi-toggle-on"> Switch Role</i>
                        {% else %}
                        <i class="bi bi-toggle-off"> Switch Role</i>
                        {% endif %}
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</div>

<h5>Student enrollments</h5>
<div class="col-lg-3">
<table class="table">
<thead>
        <tr>
            <th>Title</th>
            <th>Name</th>
        </tr>
    </thead>
    {% for enrollment in list_of_enrollments %}
        <tr>
            <td>{{enrollment.title}}</td>
              <td>{{enrollment.username}}</td>
            <td><form action="{{ url_for('delete_enrollment_') }}" method="post">
                    {{ form.csrf_token() }}
                    {{ form.choice(value=enrollment.id) }}
                    <button class="btn btn-dark">Remove</button>
                </form></td>
        </tr>
    {% endfor %}


</table>
</div>


    <h5>Enrollments statistics</h5>
<div class="container mb-3">
    <form action="{{ url_for('download_enrollments_csv') }}" method="post">
        <button class="btn btn-dark" type="submit">Download Enrollments Statistics</button>
    </form>
</div>

{% endblock %}
